@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

:root {
    --primary-color: rgba(89, 208, 255, 0.90);
    --overlay-color: rgba(0, 135, 189, 0.90);
    --menu-speed: 0.75s; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Asap', sans-serif;
    color: #000000;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*navbar*/

.navbar {
    height: 100px;
    background-color: #0087BD;
    border-bottom: solid#59D0FF;
    border-width: 3px;
    padding-left: 10px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;   
}


.desktop ul {
    display: flex;
}

.desktop a {
    color: #fff;
}

.desktop a:hover {
    color: #fff;
    border-bottom: solid#fff;
}

.desktop li {
    font-size: 25px;
    padding: 20px;
}

.navbar h1 {
    color: #fff;
}


/* Menu */

.menu-wrap {
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #0087BD;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
}

/* Top and bottom lines */

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;    
}


.menu-wrap .hamburger > div:after {
    top: 10px;
}

.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: var(--overlay-color);
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vw;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

/* Showscase */


.showcase {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
    justify-content: center;
}

.showcase-form {    
    position: relative;
    align-content: center;   
}

.showcase-form h2 {
    color: #333;
    padding-left: 20px;
}

.showcase-form p {
    color: #333;
    margin-top: 15px;
    padding-left: 20px;
}

.showcase-form h3 {
    color: #333;
    margin-top: 15px;
    padding-left: 20px;
}


.card {
    background-color: #fff;
    color: #333;
    box-shadow: rgba(89, 208, 255, 0.70) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 20px;
    margin: 15px;
}


/* Showcase 2 */

.flexbox {
    text-align: center;
    align-content: center;
    margin: auto;        
}
.showcase2 {
    margin: 15px;
}

.showcase h2 {
    color: #333;
}

.showcase2 h3 {
    color: #536A73;
    font-weight: bold;
    padding: 10px;
    box-shadow: rgba(89, 208, 255, 0.70) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
    max-width: auto;
}

.showcase2 img {
    align-content: center;
    max-width: 100%;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.desktop1 {
    max-width: 500px;
}

/* footer */

.footer {
    background-color: #0087BD;
    height: 200px;
    text-align: center;
    padding-top: 30px;
    border-top: solid#59D0FF;
    border-width: 4px;
}


.socials a {
    color: #fff;
    padding: 10px;
    display: block;
    margin-left: 15px;
}

.footer h2 {
    border-bottom: solid#fff;
    font-size: 20px;
    border-width: 2px;
}

.footer .header {
    color: #fff;
    display: inline-block;
    font-weight: bolder;
    font-size: 12px;
}


.footer .links {
    color: #fff;
    margin-right: 15px;
}

.links a {
    color: #fff;
}

.footer .logo {
    width: 50px;
    height: 50px;
    margin-top: 20px;   
}

.footer .header p {
    font-size: 8px;
    opacity: 50%;
    color: #fff;
}


.footer li {
    padding: 8px;
    font-size: 15px;
}
 

.grid-1 {
    max-width: 1100px;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: auto;
}


/* About us */


.about {
    margin: auto;  
    justify-content: center;
    align-content: center;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 500px; 
}




.about h1 {
    font-size: 20px;
    margin-top: 5px;
}

.about p {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about img {
    max-width: 100%;
}

.about button {
    width: 100px;
    height: 30px;
    box-shadow: rgba(89, 208, 255, 0.70) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#333;
    font-weight: bolder;
    border: none;
}

/* what can we offer */

.visit {
    margin-top: 30px;
    margin-bottom: 50px;
}

.visit h3 {
    max-width: 350px;
    font-size: 35px;
    font-weight: bolder;
    border-bottom: solid #536A73;
    color: #536A73;
    border-width: 2px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}



.visit p {
    font-weight: bold;
    font-size: 20px;
    color: #536A73;
    padding-top: 10px;
}

.grid-2 {
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    color: #0087BD;      
}


.text-center {
    text-align: center;
}



/* Explore */

.showcase-explore {
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    align-content: center;
    justify-content: center;
}


.showcase-explore .card-2 {
    margin: 25px;
    box-shadow: rgba(112, 60, 0, 0.70) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.showcase-explore p {
    margin: 10px auto;
}

.showcase-explore img {
    max-width: 100%;
}

.showcase-explore h2 {
    font-size: 20px;
    font-weight: bolder;
}

.showcase-explore h3 {
    font-weight: bold;
    color: #333;
    font-size: 17px;
}

.showcase-explore h4 {
    font-weight: bold;
    color: #333;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: solid #536A73;
    border-width: 1px;
}

.showcase-explore .header p {
    font-weight: normal;
}

.text-card {
    padding-right: 10px;
    padding-left: 10px;
}



/* Contact page */

.grid-3 {
    grid-template-columns: repeat(1fr);
    display: grid;
}


.contact .maps {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    box-shadow: rgba(89, 208, 255, 0.70) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    max-width: 900px;
}

.contact p {
    margin-left: 10px;
    padding-bottom: 10px;     
}

.contact a {
    font-size: 15px;
}

.contact h2 {
    font-weight: 600;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

/*contact form */


.contact-form {
    width: 95%;
    padding: 40px;
    box-shadow: rgba(89, 208, 255, 0.70) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; 
    margin: auto;
    margin-bottom: 100px;
    max-width: 900px;   
}

.contact-form h1 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contact-form .input {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input input,
.contact-form .input textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #536A73;
    outline: none;
    resize: none;
}

.contact-form .input span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
}

.contact-form .input input:focus ~ span,
.contact-form .input input:valid ~ span, 
.contact-form .input textarea:focus ~ span, 
.contact-form .input textarea:valid ~ span {
    color: red;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .input  input[type="submit"] {
    width: 100px;
    background: #59D0FF;
    color: #333;
    border: none;
    cursor: pointer;
    padding: 18px;
    font-size: 18px;
}

.desktop ul {
    text-align: right;
}


@media (min-width:700px) {

    .menu-wrap {
        visibility: hidden;
        display: none;
    }
    .menu {
        visibility: hidden;
        display: none;
    }
    nav {
        visibility: hidden;
        display: none;
    }



    
    .showcase-form h2 {
        font-size: 30px;
    }

    .showcase-form h3 {
        font-size: 25px;
    }

    .showcase-form p {
        font-size: 20px;
    }
    

    .showcase-explore h2 {
        font-size: 30px;
    }

    .showcase-explore h3 {
        font-size: 23px;
    }

    .showcase-explore h4 {
        font-size: 22px;
    }
    

    .showcase-explore p {
        font-size: 20px;
    }

    .visit h3 {
        font-size: 35px;
        max-width: 500px;
    }

    .visit p {
        font-size: 23px;
    }




}

@media (max-width:700px) {
    
    .navbar .desktop    {
        visibility: hidden;
        display: none;
    }


    
    
}


@media (min-width:1000px) {

    .flexbox {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;           
    }

    .flexbox .desktop1 {
        padding: 20px;
        line-height: 30px;
    }
        
}

